body {
    font-family: sans-serif;
    background-color: white;
    margin-top: 10px;
}

.center {
    text-align: center;
    margin-top: 40px;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

 .container {
    max-width: 800px;
    margin: 0 auto;
    color: #4a4a4a;
    font-family: sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    }
.head {
    text-align : center;
}
    
section.flat button {
  color: #4a4a4a;
  background-color: #f9f9f9;
  border: none;
  height: 25px;
}

section.flat button:hover,
section.flat button.hover {
  background-color: #f7f061;
  text-shadow:  3px #f7f061;
}

section.flat button:active,
section.flat button.active {
  background-color: #27496d;
  text-shadow:  3px #f7f061;
 
}
.img image:hover,
.img image.hover {
    height: 50%;
    width: 50%;
}


.submit {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #3498db;
  padding: 6px 8px 8px 6px;
  text-decoration: none;
}

.submit:hover {
  background: #3cb0fd;
  text-decoration: none;
}


.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
}

.flex-container > * {
    padding: 5px;
    -webkit-flex: 1 100%;
    flex: 1 100%;
}


header {background: white;color:#4a4a4a;}
footer {background: #aaa;color:white;}
.nav {background:#eee;}


.nav ul {
    list-style-type: none;
 padding: 0;
}
   
.nav ul a {
 text-decoration: none;
}

@media all and (min-width: 768px) {
    .nav {text-align:left;-webkit-flex: 1 auto;flex:1 auto;-webkit-order:1;order:1;}
    .article {-webkit-flex:5 0px;flex:5 0px;-webkit-order:2;order:2;}
    footer {-webkit-order:3;order:3;}
}


.horizontalrule1 {
    position:relative;
    width:600%;
    margin-left: -100%;
}

.menu {
    background-image:"https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png";
}
}